<!DOCTYPE html>
<html>
<head>
	<title>The Gossip Project</title>
</head>
<body>
	<h1> Bienvenue cher visiteur!</h1>

	<h3>Voici la liste des gossips disponibles à ce jour</h3>
	
	<% gossips.each_with_index do |gossip,id| %>
        <p>
          <%= gossip.author %><br/>
          <a href="/gossips/<%= id.to_s %> /"><%= gossip.content %></a> 
        </p>
      <% end %>
	
	<h3><a href="/gossips/new/"> >>> Par ici pour créer un nouveau potin. </a> </h3>
</body>
</html>

