<!DOCTYPE html>
<html>
<head>
	<title>Créer un potin</title>
</head>
<body>
	<h1> Crée un potin !</h1>
	<p>Balance ton potin via le formulaire ci-dessous</p>

	<!--Création d'un formulaire permettant-->
	<!--Cette partie est l'ossature du formulaire. Le champ action définit l'URL qui va recevoir le contenu du formulaire et le champ method définit le type de requête. Ici, on enverra donc le contenu du formulaire vers l'URL /gossips/new/ avec une requête POST -->
	<form action='/gossips/new/' method='POST' >
		<!--Ici, on rajoute un champ de saisie de texte à remplir par l'utilisateur avec le tag HTML <input type='text'>. L'option name définir le nom que portera ce contenu saisi, tout comme on lui donnerait un nom de variable en Ruby du genre "user_name" ou autre. En l'appelant gossip_author et en mettant avant le champ de saisie la phrase "Saisie ici ton nom", on comprend bien qu'on veut que l'utilisateur tape ici son nom. -->
		Saisi ici ton nom : <input type="text" name="gossip_author" /><br/>
		Balance ton potin : <input type="text" name="gossip_content"/><br>
		<input type="submit"/>
	</form>
</body>
</html>