<!DOCTYPE html>
<html>
	<head>
		<title>Gossip de <%= gossips[0]%></title> <!--Permet d'afficher le prénom de l'auteur du Gossip -->
	</head>
	<body>

		<h1>PAGE POTIN</h1>

		<p> Voici la page du potin n°</p><br>
		<p> Son auteur : ==<%= gossips[0]%> == </p><br>
		<p> Le contenu du potin : ==<%= gossips[1]%> == </p><br>
		<a href="/">Retourner à la page des potins</a>
	</body>
</html>